<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="libs/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="libs/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="app.css" />

    <script src="libs/js/jquery.1.11.min.js"></script>
    <script src="libs/js/jquery-ui.min.js"></script>
    <script src="libs/js/bootstrap.min.js"></script>
    <script src="libs/js/bootbox.min.js"></script>
    <script src="js/live-reload.js"></script>
    <script src="libs/js/angular.js"></script>
    <script src="libs/js/smart-table.js"></script>
    <script src="libs/js/ngBootbox.min.js"></script>
    <script src="app.js"></script>
    <title>NeXplorer</title>
</head>

<body ng-app="nexplorer">
    <div ng-controller="MainController" class="container-fluid">
        <div class="row address-bar">
            <div class="input-group">
                <div class="input-group-btn">
                    <a class="btn btn-default" href="#" ng-click="changeToParentDir()" role="button"><span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
                    <!--<a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>-->
                    <!--<a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>-->
                </div>
                <input type="text" class="form-control" ng-model="addressBar" ng-change="changeDir(addressBar)">
                <div class="input-group-btn">
                    <a class="btn btn-default" ng-click="changeViewMode('thumb')" role="button"><span class="glyphicon glyphicon glyphicon-th-large" aria-hidden="true"></span></a>
                    <a class="btn btn-default" ng-click="changeViewMode('list')" role="button"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>


        <div st-table="displayedData" st-safe-src="currentFiles">
            <!-- SmartTable module scope-->

            <div class="row files-box">
                <div class="col-md-2">

                </div>
                <div class="col-md-12">
                    <div ng-show="fileCount==0">
                        <div class="jumbotron" style="text-align:center">
                            <h1> Nothing Here! :P</h1>
                            <p>...</p>
                            <a class="btn btn-primary btn-lg" ng-click="changeToParentDir()" role="button"> 
                                <span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go back ?
                            </a>
                        </div>
                    </div>

                    <div ng-show="fileCount>0" ng-include="itemsViewMode"></div>

                </div>
            </div>
            <div class="row bottom-bar">
                <div class="input-group">
                    <div class="input-group-btn">
                        <span class="btn btn-default"><span class="glyphicon glyphicon" ng-class="statusIcon" aria-hidden="true"></span> <strong> {{ currentDir }} </strong> </span>
                        
                        <!--<a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>-->
                        <!--<a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>-->
                            <span class="btn btn-default"  style="padding:3px 10px;" ng-bootbox-prompt="Enter the directory name" ng-bootbox-prompt-action="mkDir(result)" >
                                    <i class="glyphicon glyphicon-folder-open" style="font-size:21px; padding:0px"></i>
                                    <i class="glyphicon glyphicon-plus overlay" style="color:orange" ></i>
                            </span>

                            <span class="btn btn-default " style="padding:3px 10px;"  ng-bootbox-prompt="Enter the file name" ng-bootbox-prompt-action="mkFile(result)"> 
                                    <i class="glyphicon glyphicon-file" style="font-size:21px; padding:0px"></i>
                                    <i class="glyphicon glyphicon-plus overlay" style="color:orange" ></i>
                            </span>
                    </div>
              
                    <input type="search" st-search="name" ng-model="searchInput" class="form-control" placeholder="Search">

                    <div class="input-group-btn">
                        <span class="btn btn-default"> <strong> {{dirSize |bytes}}  </strong> </span>
                        <span class="btn btn-default"> <strong> {{fileCount}} files </strong> </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>